.App {
  text-align: center;
  
}

button {
  border-radius:5px;
  padding:5px;
 background:linear-gradient(#fdfeff,#c4c9d4,#e9eaeb);
 box-shadow: 5px 2px 2px #c4c9d4;
}

select {
  padding: 5px;
  border-radius:5px;
  box-shadow: 4px 2px 2px #c4c9d4;

}
input {
    padding: 5px;
  border-radius:5px;
  box-shadow: 4px 2px 2px #c4c9d4;
}
section {
    padding: 15px;
}
label {
  margin: 5px;
}